extends main-layout.pug 
block content 
    section(class="movie-hero")
        img(class="movie-hero__image", src="https://www.themoviedb.org/t/p/original/ik3sCC9fziS4SnagwRAQWPytBtj.jpg", alt="Movie hero image")
        div(class="vignette")
        h1(class="movie-title")=movie.attributes.title
            div(class="line")
        a(class="button primary", href="/tickets") Köp Biljetter
    
    article(class="movie-info")
        img(class="movie-poster", src=movie.attributes.image.url)
        
        div(class="col-movie-info") 
            div(class="movie-intro")
                p!=marked(movie.attributes.intro) 
            
            section(class="videos")
                h1=`Videor & Trailers för ${movie.attributes.title}`
                i Kommer Snart

            section(class="images")
                h1=`Bilder för ${movie.attributes.title}`
                i Kommer Snart

            section(class="reviews")
                h1 Recensioner
                i Kommer Snart

            section(class="cast")
                h1 Rolllista
                i Kommer Snart






